[submodule "benchmarks/mlebench/mle-bench"]
	path = benchmarks/mlebench/mle-bench
	url = git@github.com:leonardodalinky/mle-bench.git
[submodule "benchmarks/scicodebench/SciCode"]
	path = benchmarks/scicodebench/SciCode
	url = git@github.com:leonardodalinky/SciCode.git
